<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lukasz Kaczmarek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="../app/css/bootstrap.min.css">
    <link rel="stylesheet" href="../app/css/mystyle.css">

</head>
<body ng-controller="SampleController">

<p ng-repeat="name in names">{{name}}</p>

<div class="container" ng-controler="SampleController">
    <div class="row">
        <div class="col-sm-8 center-block">
            <h1>{{countries.length}} Countries GDP Ranking</h1>
            <br>
            
            <div class="input-group">
                <span class="input-group-addon">Search:</span>
                <input ng-model="searchFild" type="text" class="form-control" placeholder="What are you looking for ? ">
            </div>
            
            <br>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr >
                            <th><a href="" ng-click="sortField = 'Number' ;  reverse = !reverse "  >Number</a></th>
                            <th><a href="" ng-click="sortField = 'COUNTRY';  reverse = !reverse "  >Country Name</a></th>
                            <th><a href="" ng-click="sortField = 'AMOUNT' ;  reverse = !reverse "  >GDP Amount</a></th>
                            <th><a href="" ng-click="sortField = 'DATE'   ;  reverse = !reverse "  >Date</a></th>
<!--
                            <th ng-repeat="country in [
                                  'Number' , 'Country' , 'GDP Amount' , 'Date' ]">
                            {{country}}
                            </th> 
-->
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="country in countries | filter:searchFild | orderBy:sortFild:!reverse  ">
                            <td class="text-center">{{country.Number}}</td>
                            <td>{{country.COUNTRY}}</td>
                            <td>{{country.AMOUNT }}</td>
                            <td>{{country.DATE}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>

















<script src="../node_modules/angular/angular.min.js"></script>
<script src="../app/js/app.js"></script>
<script src="../app/js/sample-controller.js"></script>
<script src="../app/js/jquery-3.1.1.min.js"></script>
<script src="../app/js/bootstrap.min.js"></script>





</body>
</html>